body {
  background-image: url('https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2Fd98c7b72-2dd6-4143-8715-2b33630aa064.jpg');
  background-position: center;
}

#footer {
  color: white;
  text-shadow: -1px 0 black;
}

#main {
  margin-left: 30px;
  margin-right: 30px;
}
#tweet {
  float:right;
}
#subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: -2px 0 gold;
}
